extends partials/layout.pug

block vars
  - title = 'Feram - About'
  - active = 'about'

block content
  #about
    h2 Mission
    p: strong Let's raise the baseline for code quality!
    p.
      Feram automatically checks your code for various issues
      and even fixes them.
      <br>
      We dream of a future in which every line of code
      is monitored by state of the art software analysis tools.

    h2 Team
    #persons
      .person
        img(src='https://gravatar.com/avatar/bdef220f4272ab4796c6ae65621481cf?s=180')
        p Adrian Sieber
        p CEO
        p
          a.fa.fa-globe.fa-lg(href='https://adriansieber.com')
            span adriansieber.com
          a.fa.fa-github.fa-lg(href='https://github.com/adius')
            span GitHub
          a.fa.fa-twitter.fa-lg(href='https://twitter.com/adriansieber')
            span Twitter
          a.fa.fa-facebook.fa-lg(href='https://facebook.com/adriansieber1')
            span Facebook
          a.fa.fa-linkedin.fa-lg(href='https://linkedin.com/in/adriansieber')
            span LinkedIn

      .person
        img(src='https://gravatar.com/avatar/3a69a928e0f84578eec1b7e05f84e23d?s=180')
        p Benjamin Karran
        p CTO
        p
          a.fa.fa-globe.fa-lg(href='http://benjamin.karran.eu')
            span benjamin.karran.eu
          a.fa.fa-github.fa-lg(href='https://github.com/ebekebe')
            span GitHub
          a.fa.fa-twitter.fa-lg(href='https://twitter.com/benjaminkarran')
            span Twitter
          a.fa.fa-facebook.fa-lg(href='https://facebook.com/jhyf67tygh864321')
            span Facebook
          a.fa.fa-linkedin.fa-lg(href='https://linkedin.com/in/benjamin-karran')
            span LinkedIn
