extends partials/layout.pug

block content
  h1 Imprint

  h2 Company
  p
    | Feram GbR
    br
    | Humboldtring 23/90
    br
    | 14473 Potsdam
    br

  h2 Management
  p
    | Adrian Sieber, CEO
    br
    | Benjamin Karran, CTO
    br

  h2 Contact
  dl
    dt Mail
    dd: a(href='mailto:info@feram.co') info@feram.co

    br 

    dt Mobile
    dd: a(href='tel:+491639860910') +491639860910
