extends partials/layout.pug

block vars
  - title = 'Feram - Imprint'
  - active = 'imprint'

block content
  h2 Company
  p
    | Feram GmbH
    br
    | Ehrenbergstr. 16a / Scanbox #03920
    br
    | 10245 Berlin
    br
    | Deutschland
  
  
  h2 Trade Register
  p Amtsgericht Berlin-Charlottenburg: HRB 185095
  
  
  h2 VAT identification number (USt-IdNr.)
  p DE311651026


  h2 Management
  p
    | Adrian Sieber, CEO
    br
    | Benjamin Karran, CTO
    br


  h2 Contact
  dl
    dt Mail
    dd: a(href='mailto:info@feram.co') info@feram.co

    br

    dt Mobile
    dd: a(href='tel:+491639860910') +491639860910
