extends partials/layout.pug

block content
  #landingPage
    img#profile(src='/images/profile.svg' alt='Profile image of Feram')
    h1.title
      | &ldquo;Hi, I&apos;m Feram
      br
      | &nbsp;and I&apos;m a bot&rdquo;

    p.subtitle I find and fix bugs in git repositories
    
  if features.repoInputField
    include ./partials/git-repo-form.pug
