extends partials/layout.pug

block vars
  - title = 'Feram - Pricing'
  - active = 'pricing'

block content
  h1.title Saving You Time &amp; Trouble
  
  p.subtitle
    | Everyone makes mistakes, but Feram gots your back.
    br
    | It automatically finds &amp; fixes the bugs in your code.
    
  table#comparisonTable
    caption Pricing
    thead
      tr
        th
        th Free
        th Flex
        th Pro
        th Enterprise

    tbody
      tr.priceRow
        td Price
        td: strong 0 €
        td
          strong 0.1 €
          br
          small / commit
        td
          strong 9 €
          br
          small / user / month
        td
          strong 15 €
          br
          small / user / month

      tr
        td GitHub Integration
        td ✔
        td ✔
        td ✔
        td ✔

      tr
        td Private repositories
        td
        td ✔
        td ✔
        td ✔

      tr
        td No idle costs
        td ✔
        td ✔
        td
        td

      tr
        td Unlimited commits
        td ✔
        td
        td ✔
        td ✔

      tr
        td On-premise
        td
        td
        td
        td ✔

      tr
        td Dedicated Support
        td
        td
        td
        td ✔

  p.tableFootnote All plans include unlimited repositories.
  
  hr
    
  a.button.large.primary(href='/help/getting-started') Get Started Now
