#about
  a
    color inherit
    margin-right 1em
    text-decoration none
    margin-right 0.5em
    span
      display none

  #persons
    text-align center

  .person
    display inline-block
    vertical-align top
    margin 0 3em
    img
      border-radius 90px
      border 1px solid mutedBgColor
