#about
  #persons
    text-align center

  .person
    display inline-block
    vertical-align top
    margin 0 3em 3em 3em

    img
      border-radius 90px
      border 1px solid mutedBgColor
      width 180px
      height 180px
      background-color hsl(0, 0%, 95%)

    a
      color inherit
      margin-right 1em
      text-decoration none
      margin-right 0.5em

      span
        display none
