#features
  section
    margin-left auto
    margin-right auto
    text-align left

  blockquote
    border-left 2px solid lightgray
    padding-left 1em
    margin-bottom 1em

  ul.programming-languages
    list-style-position inside

  backgroundGray = rgb(230, 230, 230)

  ul.fixing-modules
    list-style-type none

    li
      display flex
      align-items center
      margin-bottom 2em

      .checkmark
        align-self center
        border 1px solid gray
        min-width 2em
        height 2em
        text-align center
        line-height 2em
        border-radius 1em
        margin-right 1em

      img
        opacity 0.3
        max-width 4em
        max-height 4em
        margin-right 1em

      small
        opacity 0.6

      strong
        font-weight 400
        font-size 1.2em
        margin-bottom 0.5em

    li.ready
      code
        background-color lighten(backgroundGray, 10%)
        border-color lighten(backgroundGray, 5%)
        color rgb(80, 80, 80)

      img
        opacity 1

      .checkmark
        border-color mainColorMuted
        &::after
          color mainColorMuted
          content: '✔'

    li:not(.ready)
      p
        margin-bottom 0


  code
    background-color backgroundGray
    border-color darken(backgroundGray, 5%)
    border-radius 2px
    border-style solid
    border-width 1px
    color rgb(150, 150, 150)
    font-size 0.8em
    padding 0.1em 0.4em
