*
  margin 0
  padding 0
  border 0
  font-size 100%
  box-sizing border-box

html
  height 100%

body
  height 100%
  font-size 16px
  font-family Helvetica, sans-serif
  font-weight 100
  line-height 1.4
  background-color slightlyMutedBgColor
  color mutedContrastColor

label
  display: none

legend
  margin-bottom 2em

table
  margin-bottom 2em

nav
  position relative
  padding-left paddingSides
  padding-right paddingSides
  a
    color inherit
    display inline-block
    line-height 4rem !important
    margin-right 1em
    text-decoration none

  .fa
    margin-right 0.5em
    span
      display none

  #social-icons
    display inline-block
    float right

h1
  font-size 1.8em
  margin-bottom 1rem

h2
  font-size 1.5em
  margin-bottom 1rem

p + h2
  margin-top 2em

p
  margin-bottom 0.5em

small
  font-size 0.8em

hr
  background-color mutedBgColor
  height 1px
  margin-top 1em
  margin-bottom 2em

main
  padding-top 2em
  padding-left 1em
  padding-bottom 4em
  padding-right 1em

input[type=text],
input[type=email],
input[type=submit],
button
  border-width 1px
  border-style solid
  border-radius 0.3em
  border-color mutedBgColor
  color mutedContrastColor
  display inline-block
  padding 0.5em 1.6rem

input[type=text],
input[type=email]
  padding-left 1em
  padding-right 1em

button,
input[type=submit]
  background-color slightlyMutedBgColor
  cursor pointer

dt
  display inline-block
  margin-right 1em
  width 5em
  text-align right

dd
  display inline-block
