*
  margin 0
  padding 0
  border 0
  font-size 100%
  box-sizing border-box

html
  height 100%

body
  height 100%
  font-size 16px
  font-family Helvetica, sans-serif
  font-weight 100
  line-height 1.4
  color slightlyMutedFgColor

label
  display: none

legend
  margin-bottom 2em

table
  margin-bottom 2em

nav
  position relative
  padding-left paddingSides
  padding-right paddingSides
  a
    color inherit
    display inline-block
    line-height 4rem !important
    margin-right 1em
    text-decoration none

  .fa
    margin-right 0.5em
    span
      display none

  #social-icons
    display inline-block
    float right

  .active
    font-weight 900

h1
  color primaryColorMuted
  font-size 2em
  font-weight 100
  margin-bottom 1rem
  border-bottom 1px solid mutedBgColor

h2
  color primaryColorMuted
  font-size 1.5em
  font-weight 100
  margin-bottom 1rem
  border-bottom 1px solid mutedBgColor

h3
  color primaryColorMuted
  font-size 1.3em
  font-weight 100
  margin-bottom 0.8rem
  border-bottom 1px solid mutedBgColor

p
  margin-bottom 0.8em
  color mutedFgColor

p + h2,
ul + h2,
ol + h2,
dl + h2,
p + h3,
ul + h3,
ol + h3,
dl + h3,
p + section
  margin-top 2em

a
  color hsl(190, 80%, 30%)

small
  font-size 0.8em

hr
  background-color mutedBgColor
  height 1px
  margin-top 1em
  margin-bottom 2em

main
  padding-top 2em
  padding-left 1em
  padding-bottom 4em
  padding-right 1em

.wrapper
  min-height 100%
  background-color white
  margin 0 auto
  width 100%

section
  margin-bottom 2em

input[type=text],
input[type=email],
input[type=submit],
button,
.button
  border-width 1px
  border-style solid
  border-radius 0.3em
  border-color mutedBgColor
  color mutedFgColor
  display inline-block
  padding 0.5em 1.6rem

input[type=text],
input[type=email]
  padding-left 1em
  padding-right 1em

input[type=submit],
button,
.button
  background-color slightlyMutedBgColor
  cursor pointer
  text-decoration none

img
  max-width 100%

ul
  list-style-position inside

:target
   background-color hsl(50, 100%, 80%)
   padding 0.1em 0.5em
