form#git-repo-form
  background-color whitesmoke
  border-color lightgray
  border-width 1px
  border-style solid
  border-radius 0.3em
  padding 2em
  margin-bottom 2em

  legend
    display inline-block
    margin-bottom 0.8rem

  fieldset
    margin-bottom 2em

  #url-container
    font-size 1.5em
    font-weight 500

  input[type=text]
    background-color transparent
    border-color lightgray
    color rgb(100, 100, 100)
    width: 70%
    max-width: 400px

  input[type=submit]
    background-color lighten(forestgreen, 70%)
    border-color forestgreen !important
    color forestgreen
