bgColor = white
slightlyMutedBgColor = rgb(245, 245, 245)
mutedBgColor = rgb(216, 216, 216)

contrastColor = rgb(30, 30, 30)
mutedContrastColor = rgb(100, 100, 100)

feramColor = rgb(240, 180, 180)

primaryColor = lighten(forestgreen, 70%)
primaryColorMuted = forestgreen

paddingSides = 4em

@import './general.styl'
@import './home.styl'
@import './git-repo-form.styl'
@import './about.styl'
@import './features.styl'
@import './login.styl'

@media screen and (min-width 50em)
  .wrapper
    width 50em

  main
    padding-left paddingSides
    padding-right paddingSides
