bgColor = white
slightlyMutedBgColor = rgb(245, 245, 245)
mutedBgColor = rgb(216, 216, 216)

contrastColor = rgb(30, 30, 30)
mutedContrastColor = rgb(100, 100, 100)

feramColor = rgb(240, 180, 180)

primaryColor = lighten(forestgreen, 70%)
primaryColorMuted = forestgreen

paddingSides = 4em

*
  margin 0
  padding 0
  border 0
  font-size 100%
  box-sizing border-box

html
  height 100%

body
  height 100%
  font-size 16px
  font-family Helvetica, sans-serif
  font-weight 100
  line-height 1.4
  background-color slightlyMutedBgColor
  color mutedContrastColor

label
  display: none

legend
  margin-bottom 2em

table
  margin-bottom 2em

nav
  position relative
  padding-left paddingSides
  padding-right paddingSides
  a
    color inherit
    display inline-block
    line-height 4rem !important
    margin-right 1em
    text-decoration none

  .fa
    margin-right 0.5em
    span
      display none

  #social-icons
    display inline-block
    float right

h1
  font-size 1.8em
  margin-bottom 1rem

h2
  font-size 1.5em
  margin-bottom 1rem

p + h2
  margin-top 2em

p
  margin-bottom 0.5em

small
  font-size 0.8em

hr
  background-color mutedBgColor
  height 1px
  margin-top 1em
  margin-bottom 2em

main
  padding-top 2em
  padding-left 1em
  padding-bottom 4em
  padding-right 1em

input[type=text],
input[type=email],
input[type=submit],
button
  border-width 1px
  border-style solid
  border-radius 0.3em
  border-color mutedBgColor
  color mutedContrastColor
  display inline-block
  padding 0.5em 1.6rem

input[type=text],
input[type=email]
  padding-left 1em
  padding-right 1em

button,
input[type=submit]
  background-color slightlyMutedBgColor
  cursor pointer

dt
  display inline-block
  margin-right 1em
  width 5em
  text-align right

dd
  display inline-block

#landingPage
  text-align center

#logo
  margin-right 2em

  img
    display inline-block
    height 32px
    width 32px
    vertical-align middle
    position relative
    bottom 0.4em
    margin-right 0.5em

  span
    font-size 1.4em
    font-weight 500


.subtitle
  font-size: 1.5em
  margin-bottom 2em

.wrapper
  min-height 100%
  background-color white
  border 1px solid lightgray
  margin 0 auto
  width 100%

img#profile
  width 160px
  height 160px
  margin-bottom 1em

.title
  color contrastColor
  font-family 'Josefin Slab', sans-serif
  font-size 2.5em
  font-weight 600
  line-height 1
  margin-bottom 2rem

#mce-responses
  display inline-block

#mce-EMAIL
  max-width 18em
  margin-bottom 1em
  margin-right 1em


#comparisonTable
  border-collapse collapse

  caption
    margin-bottom 1em
    font-size 2em

  th, td
    border-color mutedBgColor
    border-style solid
    border-width 1px
    padding 0.8em 1.6em

  thead
    font-size 1.2em
    tr
      background-color rgba(0, 0, 0, 0.02)
      :nth-of-type(4)
        background-color primaryColor

  tr
    &:nth-of-type(2n)
      background-color rgba(0, 0, 0, 0.02)
      :nth-of-type(4)
        background-color primaryColor

    :nth-of-type(4)
      background-color lighten(primaryColor, 30%)
      border-color lighten(primaryColorMuted, 30%)

    :nth-of-type(3)
      border-right-color lighten(primaryColorMuted, 30%)

  .priceRow
    vertical-align top
    strong
      white-space nowrap
      font-size 2em
    small
      white-space nowrap

#about
  a
    color inherit
    margin-right 1em
    text-decoration none
    margin-right 0.5em
    span
      display none

  #persons
    text-align center

  .person
    display inline-block
    vertical-align top
    margin 0 3em
    img
      border-radius 90px


@media screen and (min-width 50em)
  .wrapper
    width 50em

  main
    padding-left paddingSides
    padding-right paddingSides
