bgColor = white
slightlyMutedBgColor = hsl(0, 0%, 95%)
mutedBgColor = hsl(0, 0%, 85%)

fgColor = hsl(0, 0%, 10%)
slightlyMutedFgColor = hsl(0, 0%, 30%)
mutedFgColor = hsl(0, 0%, 40%)

primaryColor = hsl(120, 60%, 80%)
primaryColorMuted = hsl(120, 60%, 35%)

feramRed = hsl(0, 68%, 83%)
feramRedMuted = hsl(0, 68%, 42%)

paddingSides = 4em

@import './about.styl'
@import './features.styl'
@import './general.styl'
@import './git-repo-form.styl'
@import './help.styl'
@import './home.styl'
@import './imprint.styl'
@import './login.styl'
@import './pricing.styl'

@media screen and (min-width 50em)
  .wrapper
    width 50em

  main
    padding-left paddingSides
    padding-right paddingSides
