primaryColor = white
slightlyMutedPrimaryColor = rgb(245, 245, 245)
mutedColor = rgb(216, 216, 216)

contrastColor = rgb(30, 30, 30)
mutedContrastColor = rgb(100, 100, 100)

*
  margin 0
  padding 0
  border 0
  font-size 100%
  box-sizing border-box

html
  height 100%

body
  height 100%
  font-size 16px
  font-family Helvetica, sans-serif
  font-weight 100
  background-color slightlyMutedPrimaryColor
  color mutedContrastColor

label
  display: none

legend
  margin-bottom 2em

.wrapper
  min-height 100%
  background-color white
  border 1px solid lightgray
  margin 0 auto
  width 100%

img#profile
  width 160px
  height 160px
  margin-bottom 1em

.title
  color contrastColor
  font-family 'Josefin Slab', sans-serif
  font-size 2.5em
  line-height 1
  margin-bottom 2rem

#mce-responses
  display inline-block

#mce-EMAIL
  max-width 18em
  margin-bottom 1em

h2
  margin-bottom 1rem

p
  margin-bottom 0.5em

small
  font-size 0.8em

.subtitle
  font-size: 1.5em
  margin-bottom 2em

hr
  background-color lightgray
  height 2px
  margin-bottom 2em

main
  text-align center
  padding-top 1em
  padding-left 1em
  padding-bottom 4em
  padding-right 1em

input[type=text],
input[type=email],
input[type=submit],
button
  border-width 1px
  border-style solid
  border-radius 0.3em
  border-color mutedColor
  color mutedContrastColor
  display inline-block
  padding 0.5em 1.6rem

input[type=text],
input[type=email]
  padding-left 1em
  padding-right 1em

button,
input[type=submit]
  background-color slightlyMutedPrimaryColor
  cursor pointer


@media screen and (min-width 50em)
  .wrapper
    width 50em

  main
    padding-left 5em
    padding-right 5em
